.container{
    display: flex;
    padding-left: 1rem;

    .pTitle {
        font-size: 2rem;
        font-weight: 700;
        float: left;
      }
      
      .pDescription {
        font-size: 1rem;
        font-weight: 500;
        float: left;
      }
}


