.mainPP {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    .divL {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  

    .divR{
 
    }

}