.mainPP {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
  
    .divL {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  

    .divR{
 
    }

}