.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: white;
  padding: 1.5vw 1vw;
  width: 100%;
  img {
    width: 2vw;
    margin-right: 1vw;
  }
  .search {
    width: 70vw;
    height: 3.2vw;
    border-radius: 2vw;
    border-color: rgb(227, 228, 229);
    background-color: rgb(227, 228, 229);

    &::placeholder {
      font-size: 18px;
      padding-left: 1vw;
    }
  }

  .HomePageButton {
    background-color: white;
    border-radius: 2vw;
    height: 2.5vw;
    font-size: 1.1vw;
  }
  .CreateButton {
    background-color: white;
    border-radius: 2vw;
    font-size: 1.1vw;
    height: 2.5vw;
    margin-right: 0.5vw;
  }

  .CreateButton:focus {
    background-color: black;
    color: white;
  }

  .HomePageButton:focus {
    background-color: black;
    color: white;
  }

  .icon {
    font-size: 1.1vw;
    background-color: white;
    color: gray;
  }
  #user {
    background-color: rgb(227, 228, 229);
    padding: 0.5vw;
    border-radius: 50%;
    font-size: 0.8vw;
    height: 2vw;
  }
}
