.navbar3{
    display: flex;
    justify-content: space-between;
}

.middle-nav{
    display: flex;
    justify-content: space-between;
    button{
        font-size: 1vw;
    margin: 0px 0.3vw;
    border-radius: 1.5vw;
    background-color: #e9e9e9;
    }
    

}

