*{
margin: 0;
}
h3 {
  padding: 0px;
}
.profile-wrapper {
  margin-top: vw ;
  margin-left:0 ;
  width: 50vw;
  // display: flex; /* הגדרת Flexbox */
  // justify-content: center; /* מרכוז על פי ציר ה-X */
  // align-items: center; /* מרכוז על פי ציר ה-Y */
  // flex-direction: column;
 

  img {
    border-radius: 50%;
    margin: 0px;
  }
}

.divUsername {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 0.8vw;
  img {
    height: 1vw;
    width: 1vw;
  }
}

.profile-btn {
  display: flex;
  justify-content: center;
  margin-top: 1.5vw;
  button {
    font-size: 1vw;
    margin: 0px 0.3vw;
    border-radius: 1.5vw;
    background-color: #e9e9e9;

    :active {
      text-decoration: underline;
    }
  }
}

.rendering-btn {
  margin-top: 2vw;
  button {
    font-size: 1vw;
    margin: 0px 0.3vw;
    border-radius: 1.5vw;
    background-color: white;
  }
}
