*{
margin-bottom: 0.01vw;
}
h3{
    padding: 0px;
}

img {
  border-radius: 50%;
  margin: 0px;
}

.divUsername {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gray;
  font-size: 0.8vw;
  img {
    height: 1vw;
    width: 1vw;
  }
}

.profile-btn{
    display: flex;
    justify-content: center;
    button{
        font-size: 1vw;
        margin: 0px 0.3vw;
        border-radius: 1.5vw;
    }
}

.rendering-btn{
    margin-top: 2vw;
    button{
        font-size: 1vw;
        margin: 0px 0.3vw;
        border-radius: 1.5vw;
        background-color: white;
    }
    
}
