.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  // padding: 1.5vw 0px;
  z-index: 1000;
  width: 100%;
  img {
    width: 2vw;
    margin-right: 1vw;
  }
  .search {
    width: 77vw;
    height: 2.5vw;
    border-radius: 2vw;
    border-color: rgb(227, 228, 229);
    background-color: rgb(227, 228, 229);
    
    &::placeholder {
      font-size: 18px;
    }
  }
  
  .HomePageButton {
    background-color: white;
    color: black;
    border-radius: 2vw;
    height: 2.5vw;
    font-size: 1.1vw;
  }
  .CreateButton {
    background-color: black;
    color: white;
    border-radius: 2vw;
    font-size: 1.1vw;
    height: 2.5vw;
    margin-right: 0.5vw;
  }

  .icon {
    font-size: 1.1vw;
    background-color: white;
  }
  #user {
    background-color: rgb(227, 228, 229);
    padding: 0.5vw;
    border-radius: 2vw;
  }
}
